body {
    width: 100%;
}

/***Top-head****/
.aside-head{
    display: inline-block;
    float: right;
}
.top-head .list-language, .top-head .form-search{
    float: left;
}
.top-head .logo{
    float: left;
}
.top-head:after{
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}
.top{
    background-color: #f7fafb;
}

/***List-language***/
.list-language{
    position: relative;
}
.list-language, .list-language .dropdown-language{
    width: 140px;
    padding-left: 10px;
}
.list-language .dropdown-language{
    line-height: 25px;
    position: absolute;
    top 60px;
    left: 0px;
    z-index: 1000;
    background-color: #fff;
    border: 1px solid #cfd1d1;
    display: none;
    -webkit-box-shadow: 0px 3px 10px 3px rgba(0,0,0,0.22);
    -moz-box-shadow: 0px 3px 10px 3px rgba(0,0,0,0.22);
    box-shadow: 0px 3px 10px 3px rgba(0,0,0,0.22);
}

/***Form-search***/
.form-search button, .top-head .form-search input{
    background-color: #f7fafb;
    padding: 6px;
}
.top-head .form-search input{
    border: none;
    padding: 0;
}
.top-head .form-search{
    color: #cfd1d1;
    width: 240px;
}
.top-head{
    position: relative;
    line-height: 42px;
}
.top-head h1{
    margin: 0;
}
.top-head .logo{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 500;
}
.top-head .aside-head>div{
    border-left: 1px solid #cfd1d1;
}

/***Nav***/
.navbar{
    border-radius: 0;
    border: none;
    margin-bottom: 0;
}
.navbar .navbar-nav>li>a{
    text-transform: uppercase;
    border-bottom: 2px solid #fff;
}
/***Logo-small***/
.top-head .logo-small{
    display: inline-block;
    float: left;
    height: 42px;
}
.top-head .logo-small img{
    height: 42px;
}
/***Page booking***/
.content{
    background-image: url("../image/bg-form-booking.png");
    background-size: 100% 100%;
}
.content h2{
    margin: 0;
    padding: 15px 0;
    font-size: 16px;
    font-weight: bold;
}
.content h3{
    color: #2296c1;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 20px;
}
.page-booking .item-title{
    text-align: right;
}
.page-booking{
    background-color: #fff;
    padding: 0 30px 0 15px;
    -webkit-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.5);
    margin: 40px 0;
}
.page-booking .required:after{
    content: "*";
    color: red;
}
.page-booking .item{
    margin-top: 15px;
    line-height: 30px;
}
.page-booking .item-info input{
    width: 100%;
    padding: 0px 5px;
}
.page-booking .item-info select{
    width: 100%;
    background-color: #fff;
    padding: 7px 5px;
}
.page-booking .item-info textarea{
    padding: 0 5px;
    width: 100%;
}
.header-box{
    color: #2296c1;
    border-top: 2px solid #2296c1;
    border-bottom: 1px solid #dfdfdf;
    background-color: #fafafa;
    padding: 0 15px;
    margin: 0 -30px 0 -15px;
}
.page-booking .group-btn{
    text-align: center;
}
.btn-login,.btn-register{
    text-align: left !important;
}
.btn-login button,.btn-register button{
    margin-left: 0 !important;
}
.page-booking .group-btn button, .page-booking .group-btn input{
    padding: 10px 20px 10px 20px;
    margin: 20px 10px 10px 10px;
    border-radius: 0;
    border-style: none;
    border: 1px solid #9C9C9E;
}
.page-booking .group-btn .btn-submit{
    background-color: #3DB4EC;
    color: #fff;
}
/*validate form*/
.boder-danger{
    border: 1px solid red;
}
input, select, textarea{
    outline: none;
}
@media screen and (min-width: 768px){
    .dropdown:hover .dropdown-menu{
        display: block;
    }
}
.navbar, .navbar .dropdown-menu{
    background-color: #00a8df;
    border: none;
}
.navbar .dropdown-menu li{
    padding: 5px 30px 5px 0px;
}
.navbar .navbar-nav li a{
    color: #fff !important;
    border-bottom: 2px solid #00a8df;
}
.navbar .navbar-nav li:hover>a, .navbar .navbar-nav>.open>a, .navbar .navbar-nav li a:focus{
    color: #fedc00 !important;
    background-color: #00a8df !important;
}
.navbar .navbar-nav>li:hover>a{
    border-bottom: 2px solid #fff;
}
.navbar-nav{
    margin-left: 205px;
}
.navbar-nav>li>a{
    padding: 17px 12px 15px;
    font-size: 13px;
}

/***Navbar-active***/
.active{
    border-color: #fff !important;
}

/***Banner***/
.banner{
    position: relative;
}
.banner img{
    width: 100%;
}
.banner>img{
    min-height: 205px;
}
.banner .container{
    position: absolute;
    top: 0;
    left: auto;
    height: 100px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

/***Form-order-room***/
.form-order-room{
    background-color: #fff;
    width: 330px;
    border-top: 1px solid #e6e6e6;
    border-radius: 0 0 10px 10px;
    padding: 17px;
    position: absolute;
    right: 15px;
    top: 0;
    z-index: 900;
    opacity: .85;
}
.form-order-room h2{
    font-size: 18px;
    margin: 0 0 12px 0;
    font-weight: bold;
}
.form-order-room .day-group input{
    border-radius: 3px;
    height: 34px;
    padding: 5px 27px 5px 10px;
    border: 1px solid #e3e7ec;
    width: 100%;
    margin-bottom: 12px;
    background: url(../image/calender.png) no-repeat 96%;
}
.form-order-room .day-group{
    width: 48%;
    float: left;
}
.form-order-room .day-group:last-child input{
    margin-left: 11px;
}
.form-order-room select{
    padding-bottom: 2px;
    padding-left: 6px;
    border: none;
    background: transparent;
    width: 100%;
    height: 34px;
}
.form-order-room .select-group{
    width: 48%;
    float: left;
    border: 1px solid #e3e7ec;
    height: 34px;
    border-radius: 3px;
    margin-bottom: 15px;
}
.form-order-room .select-group:last-child{
    margin-left: 11px;
}
.form-horizontal .row-fluid:after{
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}
.form-horizontal button{
    background: #12b4e9;
    color: #fff;
    font-size: 13px;
    padding: 10px 17px;
    text-transform: uppercase;
    min-width: 110;
}
.form-horizontal button:hover{
    color: #fff;
    background: #0078cf;
}
.form-horizontal .button-form{
    text-align: center;
}

/***Thumbnail***/
.banner .thump{
    position: absolute;
    bottom: 30px;
    width: 100%;
}
.banner .thump .item{
    position: relative;
    height: 150px;
    overflow: hidden;
    border-radius: 8px;
    -webkit-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.22);
    -moz-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.22);
    box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.22);
}
.banner .thump img{
    position: absolute;
    top: -20px;
    left: 0;
}
.banner .thump .title-thump{
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding-left: 5%;
    background-color: #000;
    opacity: 0.6;
    height: 40px;
    line-height: 40px;
    font-size: 13px;
}
.banner .thump p{
    color: #fff;
    margin: 0;
}

/***Link***/
.border-left{
    border-left: 1px solid #d7d7d7;
}
.follow div{
    line-height: 60px;
    text-align: center;
}

/***Footer***/
.footer{
    padding-top: 50px;
    background-color: #2296c1;
}
.footer ul{
    list-style: none;
}
.footer a{
    color: white;
}
.footer li{
    margin-bottom: 15px;
}
.footer ul{
    margin-bottom: 15px;
    font-size: 12px;
}
.footer .bottom-head{
    margin-bottom: 30px;
}
.footer .accommodation, .footer .accommodation{
    padding-left: 40px;
}
.footer .contact-us{
    padding-left: 50px;
}

/***Bottom footer***/
.bottom-footer{
    font-size: 12px;
    color: #fff;
    line-height: 40px;
    border-top: 1px solid #449ed4;
}
.bottom-footer .payment img{
    margin: 0 5px;
}

/***Hide btn***/
.navbar .btn-default{
    display: none;
}

/***Message***/
.message {
    height: 35px;
    line-height: 35px;
    text-align: center;
    background-color: #23a0ce;
    display: inline-block;
    color: #fff;
    -webkit-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.22);
    -moz-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.22);
    box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.22);
    position: fixed;
    bottom: 0;
    right: 15px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    font-weight: bold;
}
.message .icon{
    width: 35px;
    display: inline-block;
    background-color: #157294;
}
.message .icon i{
    font-size: 20px;
    padding-top: 5px;
}
.message .title{
    display: inline-block;
    padding: 0 5px;
}
.message .title div{
    display: inline-block;
    cursor: pointer;
}
.message .title div:hover{
    text-decoration: underline;
}
.message a{
    color: #fff;
}
.errors{
    color: red;
}
.show-success h3{
    color: #5cb85c;
}

@media screen and (max-width: 1199px){
    .banner .thump .item{
        height: 122px;
    }
    .banner .thump .title-thump{
        height: 35px;
        line-height: 35px;
        font-size: 12px;
    }
    .navbar-nav>li>a{
        padding: 17px 6px 15px;
        font-size: 12px;
    }
}

@media screen and (max-width: 991px){
    .footer .accommodation, .footer .accommodation{
        padding-left: 15px;
    }
    .footer .contact-us{
        padding-left: 15px;
    }
    .banner .thump .item{
        height: 80px;
    }
    .banner .thump img{
        top: -30px;
    }
    .banner .thump .title-thump{
        height: 25px;
        line-height: 25px;
        font-size: 11px;
    }
    .navbar .navbar-nav .hinhanh, .navbar .navbar-nav .lienhe, .navbar .navbar-nav .tuyendung{
        display: none;
    }
}

@media screen and (max-width: 767px){
    .footer .body-footer{
        text-align: center;
    }
    .banner .thump .item{
        height: 50px;
    }
    .banner .thump img{
        top: 0px;
    }
    .banner .thump{
        bottom: 15px;
    }
    .banner .thump .title-thump{
        height: 20px;
        line-height: 20px;
    }
    .banner .thump .title-thump{
        display: none;
    }
    /***navbar***/
    .top-head .logo{
        display: none;
    }
    .navbar .navbar-header .navbar-toggle{
        float: left;
        margin-left: 15px;
    }
    .navbar .navbar-nav{
        margin-left: 0px;
    }
    .navbar .btn-default{
        margin-top: 8px;
        margin-right: 15px;
        float: right;
        display: block;
    }
    /***Hide form order***/
    .form-order-room{
        display: none;
    }
    .top-head .form-search{
        color: #cfd1d1;
        width: 215px;
    }
    .top-head .aside-head div{
        border: none;
    }
}

@media screen and (max-width: 424px){
    .banner .thump .item{
        height: 45px;
    }
}

@media screen and (max-width: 374px){
    .banner .thump .item{
        height: 35px;
    }
}

@media screen and (max-width: 319px){
    .banner .thump .item{
        height: 25px;
    }
}
